<h1>Contact Producers</h1>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="year-label">Year</span>
  </div>
  <input id="year" type="text" class="form-control" placeholder="2011 - 2020" aria-label="Year" aria-describedby="year-label">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="contact-producers">Contact Producers</button>
    <a href="/status" class="btn btn-secondary" type="button" id="check-status">Check Status</a>
  </div>
</div>

<div id="error" class="alert alert-danger d-none" role="alert"></div>
<div id="success" class="alert alert-success d-none" role="alert"></div>

<script src="/javascript/homepage.js"></script>