<h1>Email Status</h1>

<a href="/" class="btn btn-primary mb-3" type="button" id="contact-producers">Contact Producers</a>

<div id="error" class="alert alert-danger d-none" role="alert"></div>

<div id="emails" class="row clearfix"></div>

<script src="/javascript/status.js"></script>